<footer class="pie-de-pagina">
    <div class="ul-footer" >
        <h4 >Encontranos en:</h4>
        <ul  >
            <li>- <a href="https://www.linkedin.com/in/virginia-carrizo-bello/">LinkedIn</a></li>
            <li>- <a href="https://github.com/virginia-carrizo-bello/">Github</a></li>
            <li>- <a href="#">CV</a></li>
        </ul>
    </div >
    <div class="allRightReserverd">
        © 2023. All Rights Reserved.
    </div>
    <div class="sobreMi">
        <p>Rosario, Santa Fe.</p>
        <p>(54) 3382-571141</p>
        <p>virginia.carrizo.bello@gmail.com</p>
    </div >

</footer>