<!DOCTYPE html>
<!--CHEQUEAR!!!!-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>BibliOnline</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <link rel="stylesheet" type="text/css" href="../static/registro.css">
        <link rel="stylesheet" type="text/css" href="../index.css">
        <link rel="stylesheet" type="text/css" href="../registro.css">
    </head>
    <header >
        <nav class="barra" th:replace="/fragments/navbar" :: nav> </nav>
    </header>
    <body >
        <div th:replace="/fragments/error" :: div> </div>

        <div class="cuerpo">   
            <form class="formulario" th:action="@{/registro}" method="POST">
                <h3>Registrate</h3>
                <div class="opciones" >
                    <input type="text"  name="nombre" placeholder="Ingresá tu nombre" th:value="${nombre}">
                </div>
                <div class="opciones">
                    <input type="email"  name="email" placeholder="Ingresá tu email" th:value="${email}">
                </div>
                <div class="opciones">
                    <input type="password" name="password" placeholder="Contraseña" th:value="${password}">
                </div>
                <div class="opciones">
                    <input type="password"  name="password2" placeholder="Repetir contraseña" th:value="${password2}">
                </div >
                <button type="submit" class="btn-registro" >Registrarme</button>
                <button class="btn-registro" ><a href="/">Volver</a></button>
            </form>
        </div>
    </body>
    <footer class="pie-de-pagina" th:replace="/fragments/footer" :: footer> </footer>
</html>
